body{
    background-color: rgb(14, 57, 99);
    font-family: sans-serif;
}
.login-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: rgb(132, 216, 241);
    border-radius: 3px;
}
.signup-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: rgb(132, 216, 241);
    border-radius: 3px;
}

h1{
    text-align: center;
    padding-top: 15px;

}
form{
    width: 300px;
    margin: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
button{
    margin-top: 20px;
    font-size: 15px;
    width: 50%;
}
